# Environment variables
.env*

# Firebase cache and logs
.firebase/
firebase-debug.log
firestore-debug.log

# Next.js cache
.next/
node_modules
keys/ogeemo-firebase-firebase-adminsdk-fbsvc-ef0acfe30c.json
