
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function isAdmin() {
      let data = getUserData();
      return request.auth != null && data != null && data.role == 'admin';
    }

    function isMentor() {
      let data = getUserData();
      return request.auth != null && data != null && (data.role == 'Certified_Mentor' || data.role == 'Mentor_Apprentice' || data.role == 'admin');
    }

    function isApprentice() {
      let data = getUserData();
      return request.auth != null && data != null;
    }

    match /users/{userId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow create: if isAdmin();
      allow update, delete: if isOwner(userId) || isAdmin();
    }

    match /mentor_reviews/{reviewId} {
      allow create: if request.auth != null;
      allow read: if isAdmin() || isOwner(resource.data.requester_id);
      allow update, delete: if isAdmin();
    }

    match /contactFolders/{folderId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /contacts/{contactId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /clientAccounts/{accountId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /invoices/{invoiceId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }

    match /invoiceLineItems/{itemId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }

    match /serviceItems/{itemId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }

    match /taxTypes/{typeId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /incomeTransactions/{transactionId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /expenseTransactions/{transactionId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }

    match /payableBills/{billId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /payrollRuns/{runId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();

      match /details/{detailId} {
        allow read: if isApprentice();
        allow create, update, delete: if isMentor();
      }
    }

    match /payrollRemittances/{remittanceId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }

    match /assets/{assetId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /equityTransactions/{transactionId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /companies/{companyId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }

    match /expenseCategories/{categoryId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }

    match /incomeCategories/{categoryId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /industries/{industryId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /loans/{loanId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /leads/{leadId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }

    match /projectTemplates/{templateId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }

    match /inventoryItems/{itemId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /inventoryLogs/{logId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }

    match /suppliers/{supplierId} {
      allow read: if isApprentice();
      allow create, update, delete: if isMentor();
    }
    
    match /projects/{projectId} {
        allow read: if isApprentice();
        allow create, update, delete: if isMentor();
    }
    
    match /tasks/{taskId} {
        allow read: if isApprentice();
        allow create, update, delete: if isMentor();
    }
    
    match /ideas/{ideaId} {
        allow read: if isApprentice();
        allow create, update, delete: if isMentor();
    }
    
    match /fileManagerFolders/{folderId} {
        allow read: if isApprentice();
        allow create, update, delete: if isMentor();
    }

    match /files/{fileId} {
        allow read: if isApprentice();
        allow create, update, delete: if isMentor();
    }
    
    match /crmActions/{actionId} {
        allow read: if isApprentice();
        allow create, update, delete: if isMentor();
    }
    
    match /payrollWorkers/{workerId} {
        allow read: if isApprentice();
        allow create, update, delete: if isMentor();
    }

    match /leaveRequests/{leaveRequestId} {
      allow create: if isMentor() || isOwner(request.resource.data.workerId);
      allow read: if isApprentice() || isOwner(resource.data.workerId);
      allow update: if isMentor();
      allow delete: if isMentor() || isOwner(resource.data.workerId);
    }

    match /timeLogs/{timeLogId} {
      allow create: if isMentor() || isOwner(request.resource.data.workerId);
      allow read: if isApprentice() || isOwner(resource.data.workerId);
      allow update, delete: if isMentor() || isOwner(resource.data.workerId);
      
      match /locations/{locationId} {
        allow read: if isApprentice() || isOwner(resource.data.workerId);
        allow create: if isMentor() || isOwner(request.resource.data.workerId);
      }
    }

    match /userActionChips/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }
    match /availableActionChips/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }
    match /trashedActionChips/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }
    match /accountingQuickNavItems/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }
    match /availableAccountingNavItems/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }
    match /hrQuickNavItems/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }
    match /availableHrNavItems/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }
    match /dialogSettings/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }
    
    match /siteImages/{imageId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /feedback/{feedbackId} {
      allow read: if isAdmin();
      allow create: if isApprentice();
      allow update, delete: if isAdmin();
    }

    match /inquiries/{inquiryId} {
      allow create: if true;
      allow read: if isAdmin();
    }
  }
}
